/*  =============
    Layout
    =============  */
body {
    background-color: #f5ecdf;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#initial-screen {
    display: block;
    text-align: center;
    padding-top: 10vh;
    transition: all 0.2s;
}

#create-screen {
    display: none;
    text-align: center;
    padding-top: 2vh;
    transition: all 0.2s;
}

#game-screen {
    display: none;
    padding-top: 20px;
    transition: all 0.2s;
}
#game-screen > div.container {
    max-width: 900px;
}

/*  =============
    Typography
    =============  */
p {
    margin-top: 2px;    
    margin-bottom: 2px;    
}

h2.timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    font-weight: bold;
    padding: 4px 10px;
    padding-top: 6px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin-right: 15px;
    margin-left: 15px;
    background-color: #b58863;
    color: rgba(255,255,255,0.8);
}

.discrete {
    font-size: 10pt;
    color: rgba(255,255,255,0.85);
}

.bold {
    font-weight: bold;
}

.glow {
    text-shadow: 0px 0px 5px rgba(104, 237, 255, 0.8);
}

/*  =============
    Components
    =============  */

canvas {
    width: 100%;
    margin: 0px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
}

canvas#board-canvas {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
    
div.center {
    text-align: center;
    align-items: center;
}

div.join {
    max-width: 430px;
    margin: auto;
}
    
div.spacer {
    height: 10px;
}

div.game-buttons {
    padding-top: 67px;
}

input,
button {
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width: 100%;
    transition: all 0.2s;
}

input:hover,
button:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    transition: all 0.2s;
}

input[type="text"].error {
    background-color: rgb(255,200,200);
}

button.fat {
    padding: 10px;
}

button.request {
    width: 46%;
}

button#back-button {
    float: left;
    width: auto;
}

/* Game button group styling */
div.btn-group button.btn-secondary {
    background-color: rgb(180, 180, 255);
    border-color: rgb(180, 180, 255);
    z-index: 999;
}
div.btn-group button.btn-secondary:hover {
    background-color: rgb(144, 144, 255);
    border-color: rgb(144, 144, 255);
    z-index: 0;
}
div.btn-group button.btn-primary {
    background-color: rgb(72, 72, 255);
    border-color: transparent;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.35);
    z-index: 1;
}
div.btn-group button.btn-primary:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.58);
}

 /* Game chat styling */
div.chat-window {
    background-color: white;
    border: solid 1px #00000015;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding: 5px 7px;
    padding-right: 0px;
    margin-top: 6px;
    max-width: 442px;
}
div.chat {
    padding-right: 15px;
    overflow-y: scroll;
    max-height: 330px;
}
div.chat p {
    width: fit-content;
    max-width: 75%;
    border-radius: 5px;
    padding: 5px 7px;
    padding-bottom: 7px;
    margin-bottom: 4px;
    font-size: 11pt;
    line-height: 120%;
}
div.chat p.me {
    margin-left: auto;
    background-color: rgb(240, 240, 240);
}
div.chat p.opponent {
    margin-right: auto;
    background-color: rgb(0, 140, 255);
    color: white;
}
div.send input {
    width: 70%;
    border: solid 1px #00000015;
}
div.send button {
    width: 25%;
    margin-right: auto;
    border: solid 1px #00000015;
}

footer {
    z-index: 999;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    margin-left: -20px;
    text-align: left;
    color: #f5ecdf;
    background-color: #b58863;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

/*  ==============
    Compact Layout
    ==============
    Moves buttons and chat on game screen to bottom  */
@media (max-width: 720px) {
    div.game-buttons {
        all: initial;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        margin-left: 15px;
    }

    div.game-buttons button {
        width: auto;
    }
}

/*  ==============
    Mobile Layout
    ==============
    Text, buttons, canvas bigger/fill more space */
@media (max-width: 500px) {
    body,
    div.container,
    div.col,
    div.row {
        margin: 0px;
        padding: 0px;
    }

    div.col-2 {
        display: none;
    }

    #initial-screen {
        padding: 20px;
        padding-top: 5vh;
    }

    #create-screen {
        padding: 10px;
        padding-top: 25px;
    }

    img.logo {
        width: 150px;
        height: 150px;
    }

    h1 {
        margin: 10px;
    }

    p {
        margin: 10px;
        font-size: 16pt;
    }

    div.chat p {
        font-size: 16pt;
        padding: 10px;
    }

    button[type="button"],
    input[type="text"] {
        font-size: 16pt;
        padding: 10px;
    }

    div.timer button[type="button"] {
        font-size: 14pt;
        padding-left: 2px;
        padding-right: 2px;
    }

    canvas#top-canvas,
    canvas#bottom-canvas {
        margin-left: 15px;
    }

}