#initialScreen {
    display: block;
    text-align: center;
    padding-top: 10vh;
}
#gameScreen {
    display: none;
}
#gameScreen > div.container {
    max-width: 800px;
}

body {
    background-color: #f5ecdf;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

p {
    margin: 2px;    
}

.bold {
    font-weight: bold;
}

.glow {
    text-shadow: 0px 0px 5px rgba(104, 237, 255, 0.8);
}

div.join {
    max-width: 430px;
    margin: auto;
}
    
div.spacer {
    height: 10px;
}

div.buttons {
    padding-top: 70px;
}

button {
    margin: 4px 2px 4px 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width: 100%;
    transition: all 0.2s;
}

input[type="text"] {
    padding: 4px;
    margin: 4px 2px 4px 2px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width: 100%;
    transition: all 0.2s;
}

input:hover,
button:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    transition: all 0.2s;
}

canvas {
    margin: 0px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
}

button.request {
    width: 46%;
}


@media (max-width: 610px) {
    button.request {
        width: 100%;
    }
}

@media (max-width: 500px) {
    body {
        margin: 0px;
        padding: 0px;
    }
    div.container {
        margin: 0px;
        padding: 0px;
    }
    img {
        width: 150px;
        height: 150px;
    }
    h1 {
        margin: 10px;
        font-size: 20pt;
    }
    #gameScreen h1 {
        font-size: 30pt;
    }
    h2 {
        margin: 10px;
        font-size: 16pt;
    }
    p {
        margin: 10px;
        font-size: 16pt;
    }
    button[type="submit"] {
        font-size: 16pt;
        padding: 10px;
    }
    input[type="text"] {
        font-size: 16pt;
        padding: 10px;
    }
    div.buttons {
        all: initial;
        font-family: Arial, Helvetica, sans-serif;
        width: 95%;
        margin-left: 16px;
    }
    button.request {
        width: 35%;
    }
    canvas {
        margin-left: 0px;
    }

}