body {
    background-color: #f5ecdf;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#initialScreen {
    display: block;
    text-align: center;
    padding-top: 10vh;
}

#createScreen {
    display: none;
    text-align: center;
    padding-top: 2vh;
}

#gameScreen {
    display: none;
}
#gameScreen > div.container {
    max-width: 800px;
}

p {
    margin-top: 2px;    
    margin-bottom: 2px;    
}

h2.timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    font-weight: bold;
    padding: 4px 10px;
    padding-top: 6px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin-right: 15px;
    margin-left: 15px;
    background-color: #b58863;
    color: rgba(255,255,255,0.8);
}

div.center {
    text-align: center;
    align-items: center;
}

.discrete {
    font-size: 10pt;
    color: rgba(255,255,255,0.85);
}

.bold {
    font-weight: bold;
}

.glow {
    text-shadow: 0px 0px 5px rgba(104, 237, 255, 0.8);
}

div.join {
    max-width: 430px;
    margin: auto;
}
    
div.spacer {
    height: 10px;
}

div.gameButtons {
    padding-top: 67px;
}

input,
button {
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width: 100%;
    transition: all 0.2s;
}

input:hover,
button:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    transition: all 0.2s;
}

input[type="text"].error {
    background-color: rgb(255,200,200);
}

button.fat {
    padding: 10px;
}

button.request {
    width: 46%;
}

button#backButton {
    float: left;
    width: auto;
}

div.btn-group button.btn-secondary {
    background-color: rgb(180, 180, 255);
    border-color: rgb(180, 180, 255);
    z-index: 999;
}
div.btn-group button.btn-secondary:hover {
    background-color: rgb(144, 144, 255);
    border-color: rgb(144, 144, 255);
    z-index: 0;
}
div.btn-group button.btn-primary {
    background-color: rgb(72, 72, 255);
    border-color: transparent;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.35);
    z-index: 1;
}
div.btn-group button.btn-primary:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.58);
}

canvas {
    margin: 0px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
}
canvas#boardCanvas {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

footer {
    z-index: 999;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    margin-left: -20px;
    text-align: left;
    color: #f5ecdf;
    background-color: #b58863;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}


@media (max-width: 610px) {
    button.request {
        width: 100%;
    }
}

@media (max-width: 500px) {
    body,
    div.container,
    div.col,
    div.row {
        margin: 0px;
        padding: 0px;
        padding-bottom: 10px;
    }

    div.col-2 {
        display: none;
    }

    #initialScreen {
        padding: 20px;
        padding-top: 5vh;
    }
    #createScreen {
        padding: 10px;
    }

    img.logo {
        width: 150px;
        height: 150px;
    }

    h1 {
        margin: 10px;
    }

    p {
        margin: 10px;
        font-size: 16pt;
    }

    button[type="button"],
    input[type="text"] {
        font-size: 16pt;
        padding: 10px;
    }

    div.timer button[type="button"] {
        font-size: 14pt;
        padding-left: 2px;
        padding-right: 2px;
    }

    div.gameButtons {
        all: initial;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        margin-left: 15px;
    }

    div.gameButtons button {
        width: auto;
    }

    canvas#topCanvas,
    canvas#bottomCanvas {
        margin-left: 10px;
    }

}